<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div id="vue-app">
        <div v-for="c in colors" :class="c" v-show="color==c"></div>
        <template v-for="(c,i) in colors">
            <div :class="c" v-show="color == c"></div>
            <div>
                <button @click="color=c">
                    {{i}}. {{c}}
                </button>
            </div>
        </template>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        var app = Vue.createApp({
            data() {
                return {
                    color:'red',
                    colors : ['blue','red','green','gray']
                }
            }
        })
        app.mount("#vue-app");
    </script>
    <style>
        .red, .blue, .green , .gray{
            width: 100px;
            height: 100px;
            background-color: black;
            margin: 0.5rem;
        }
        .red{
            background-color: red;
        }
        .blue{
            background-color: blue;
        }
        .green{
            background-color: green;
        }
        .gray{
            background-color: gray;
        }
    </style>
</body>

</html>